$days: (mon, tue, wed, thu, fri, sat, sun);
$size: 100px;

.calendar {
  margin: 50px 0;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template: repeat(6, $size) / repeat(7, $size);
  grid-gap: 1px;
  line-height: $size;
  font-family: Arial, sans-serif;
  font-size: 30px;
}

@for $numberOfDays from 28 through 31 {
  @for $i from 1 through $numberOfDays {
    .calendar-#{$numberOfDays} .day:nth-child(#{$i}):after {
      content: '#{$i}';
      display: flex;
      justify-content: center;
    }
    .calendar-#{$numberOfDays} .day:nth-child(#{$i})  {
      border: 1px solid black;
      background: #eee;
      transition: transform .5s;
      &:hover {
        cursor: pointer;
        transform: translateY(-20px);
        background: pink;
      }
    }
  }
}

@each $dayOfWeek in $days {
  .calendar-#{$dayOfWeek} .day:first-child {
    grid-column-start: index($days, $dayOfWeek);
  }
}
